@tailwind base;
@tailwind components;

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

/* Start purging */
@tailwind utilities;
/* Stop purging */

.bg-blur {
  background: rgba(255, 255, 255, 0.75);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
}

.bg-darken:hover {
  filter: brightness(115%);
  transition: 100ms ease-in;
}
.modal-blur {
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}
